<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">Om mig</div>
            <p class="paragraph-text justify-text">
                 I mit tidligere virke har jeg gjort en forskel for mennesker gennem pædagogik. Nu vil jeg gøre en forskel for mennesker gennem IT og udvikling. 
            </p>
            
            <p class="paragraph-text justify-text">
                Som person ser jeg muligheder fremfor begrænsninger. Ledere og kolleger betegner mig som en, der tør at have flere bolde i luften på samme tid, samtidig med at kunne holde overblikket og være struktureret i sit arbejde. Jeg er en tydelig, autentisk og engageret person, der brænder for det jeg laver og yder mit absolut bedste - hver gang.
            </p>
            
            <p class="paragraph-text justify-text">
                Under fanen "proces", finder i min læringsproces for semestret. Heri fremgår der, hvad jeg har lavet uge for uge. Tryk <a href="{{ site.projects_url }}">her</a> for at komme til proces-siden.
            </p>
        </div>
    </section>
</div>
