<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Kontakt</div>
            
            <p class="paragraph-text justify-text">
           Vil du gerne i kontakt med mig? <br/> Så send mig en mail og jeg vil vende tilbage hurtigst muligt. <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </p>
            <p class="paragraph-text justify-text">
                Mit CV er tilgængeligt her: <a href="{{ site.blog_url }}resume/CV.pdf">PDF</a>.
            </p>
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
            </div>
        </div>
    </section>
</div>
