<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="projects-text">Proces</div>
            
              

                 <h1>
                     Uge 34
                 </h1>
                    <p>
                        <li>Mål for ugen: </li>
                       <li>Hvad har jeg lært: </li>
                    </p>
                    <!-- NY UGE  -->

            
                    <h1>
                     Uge 35
                     </h1>
                       <p>
                        <li>Mål for ugen: </li>
                       <li>Hvad har jeg lært: </li>
                        </p>
            <!-- NY UGE  -->
            
            <h1>
                     Uge 36
                 </h1>
              <p>
                         <li>Mål for ugen: </li>
                       <li>Hvad har jeg lært: </li>
                    </p>
            <!-- NY UGE  -->
            <h1>
                     Uge 37
                 </h1>
              <p>
                        <li>Mål for ugen: </li>
                       <li>Hvad har jeg lært: </li>
                    </p>
            <!-- NY UGE  -->
            <h1>
                     Uge 38
                 </h1>
              <p>
                         <li>Mål for ugen: </li>
                       <li>Hvad har jeg lært: </li>
                    </p>
            
                  <h1>
                      Uge 39
                 </h1>
              <p>
                         <li>Mål for ugen: </li>
                       <li>Hvad har jeg lært: </li>
                    </p>
            <h1>
                  Uge 40
                 </h1>
              <p>
                         <li>Mål for ugen: </li>
                       <li>Hvad har jeg lært: </li>
                    </p>
           
            
              
        </div>
    </section>
</div>
