<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Proces</div>
            
              

                 <h1>
                     Uge 34
                 </h1>
                    <p>
                        Mål for ugen:
                        Hvad har jeg lært:
                        Mål for næste uge:
                    </p>
                    <!-- NY UGE  -->

            
                    <h1>
                     Uge 35
                     </h1>
                       <p>
                        Mål for ugen:
                        Hvad har jeg lært:
                        Mål for næste uge:
                        </p>
            <!-- NY UGE  -->
            
            <h1>
                     Uge 36
                 </h1>
              <p>
                        Mål for ugen:
                        Hvad har jeg lært:
                        Mål for næste uge:
                    </p>
            <!-- NY UGE  -->
            <h1>
                     Uge 37
                 </h1>
              <p>
                        Mål for ugen:
                        Hvad har jeg lært:
                        Mål for næste uge:
                    </p>
            <!-- NY UGE  -->
            <h1>
                     Uge 38
                 </h1>
              <p>
                        Mål for ugen:
                        Hvad har jeg lært:
                        Mål for næste uge:
                    </p>
           
            
              
        </div>
    </section>
</div>
