<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Proces</div>
            
                <div class="project-technologies">

                 <h1>
                     Uge 34
                 </h1>
                    <p>
                        I dag har jeg lavet maximus stipendikus.
                    </p>
                </div>
        </div>
    </section>
</div>
